In [1]:
# imports
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import db_password

########################################################################
##### Database Setup ###################################################
########################################################################
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/CovidDB"
engine = create_engine(db_string)
# reflect existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
#######################################################################
from pathlib import Path

In [2]:
  # Loading data
file_path = Path("csv/owid-covid-data.csv")
df = pd.read_csv(file_path)
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
# Selecting specific columns using loc() method
selection = df.loc[:164946,['date','location','continent','new_cases_smoothed','icu_patients','icu_patients_per_million','new_deaths_smoothed','new_vaccinations_smoothed','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','new_people_vaccinated_smoothed_per_hundred','people_fully_vaccinated','total_boosters','new_vaccinations']]
selection.head()

,date,location,continent,new_cases_smoothed,icu_patients,icu_patients_per_million,new_deaths_smoothed,new_vaccinations_smoothed,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_people_vaccinated_smoothed_per_hundred,people_fully_vaccinated,total_boosters,new_vaccinations
0,2020-02-24,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# checking for nulls
selection.isnull().sum()

date                                               0
location                                           0
continent                                       9878
new_cases_smoothed                              4248
icu_patients                                  141710
icu_patients_per_million                      141710
new_deaths_smoothed                            20803
new_vaccinations_smoothed                      81539
people_fully_vaccinated_per_hundred           125166
total_boosters_per_hundred                    147909
new_people_vaccinated_smoothed_per_hundred     82784
people_fully_vaccinated                       125166
total_boosters                                147909
new_vaccinations                              128020
dtype: int64

In [5]:
# dropping nulls
clean_selection = selection.dropna()

In [6]:
# looking for duplicates
print(f'Duplicate entries: {clean_selection.duplicated().sum()}')

Duplicate entries: 0

In [7]:
# checking the dataframe as a whole
clean_selection.head()

,date,location,continent,new_cases_smoothed,icu_patients,icu_patients_per_million,new_deaths_smoothed,new_vaccinations_smoothed,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_people_vaccinated_smoothed_per_hundred,people_fully_vaccinated,total_boosters,new_vaccinations
6490,2021-11-15,Argentina,South America,1298.571,565.0,12.389,15.286,356203.0,60.26,1.96,0.187,27479827.0,892457.0,1297018.0
6495,2021-11-20,Argentina,South America,1364.429,572.0,12.542,20.857,440583.0,62.23,2.77,0.122,28379784.0,1263315.0,214081.0
6496,2021-11-21,Argentina,South America,1372.286,561.0,12.301,20.714,425164.0,62.36,2.84,0.103,28439413.0,1294189.0,114402.0
6497,2021-11-22,Argentina,South America,1261.429,566.0,12.411,18.857,258749.0,62.50,2.91,0.108,28505739.0,1327224.0,132111.0
6498,2021-11-23,Argentina,South America,1264.571,570.0,12.498,17.286,255271.0,62.81,3.11,0.110,28645100.0,1420213.0,300974.0

In [8]:
# checking info on rows and columns of new dataframe
clean_selection.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5539 entries, 6490 to 156684
Data columns (total 14 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        5539 non-null   object
 1   location                                    5539 non-null   object
 2   continent                                   5539 non-null   object
 3   new_cases_smoothed                          5539 non-null   float64
 4   icu_patients                                5539 non-null   float64
 5   icu_patients_per_million                    5539 non-null   float64
 6   new_deaths_smoothed                         5539 non-null   float64
 7   new_vaccinations_smoothed                   5539 non-null   float64
 8   people_fully_vaccinated_per_hundred         5539 non-null   float64
 9   total_boosters_per_hundred                  5539 non-null   float64
 10  new_people_vaccinated_smoothed_per_hundred  5539 non-null   float64
 11  people_fully_vaccinated                     5539 non-null   float64
 12  total_boosters                              5539 non-null   float64
 13  new_vaccinations                            5539 non-null   float64
dtypes: float64(11), object(3)
memory usage: 649.1+ KB

In [9]:
usa_covid = clean_selection.groupby('location').get_group('United States')
usa_covid.head()

,date,location,continent,new_cases_smoothed,icu_patients,icu_patients_per_million,new_deaths_smoothed,new_vaccinations_smoothed,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_people_vaccinated_smoothed_per_hundred,people_fully_vaccinated,total_boosters,new_vaccinations
156488,2021-08-13,United States,North America,128519.857,20076.0,60.304,654.429,714641.0,51.94,0.00,0.140,172448325.0,13708.0,946795.0
156489,2021-08-14,United States,North America,129633.714,20401.0,61.280,655.857,724200.0,52.01,0.01,0.139,172689810.0,49662.0,624091.0
156490,2021-08-15,United States,North America,131253.000,21077.0,63.310,665.429,731162.0,52.06,0.02,0.138,172850612.0,82479.0,398560.0
156491,2021-08-16,United States,North America,136733.571,21673.0,65.101,742.429,743652.0,52.17,0.05,0.136,173203214.0,161912.0,868638.0
156492,2021-08-17,United States,North America,141249.714,22303.0,66.993,765.714,761348.0,52.28,0.08,0.134,173565158.0,260778.0,921824.0

In [10]:
# saving the dataframe as a csv
output_file_path= "covid.csv"
clean_selection.to_csv(output_file_path, index=False)

In [11]:
clean_selection.to_sql(name='covid', con=engine)