In [2]:
# imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.linear_model import LinearRegression 
from matplotlib import pyplot as plt


from pathlib import Path

In [3]:
  # Loading data
file_path = Path("owid-covid-data.csv")
df = pd.read_csv(file_path)
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
# Selecting specific columns using loc() method
selection = df.loc[:164946,['date','location','continent','new_cases_smoothed','icu_patients','icu_patients_per_million','new_deaths_smoothed','new_vaccinations_smoothed','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','new_people_vaccinated_smoothed_per_hundred','people_fully_vaccinated','total_boosters','new_vaccinations']]
selection.head()

,date,location,continent,new_cases_smoothed,icu_patients,icu_patients_per_million,new_deaths_smoothed,new_vaccinations_smoothed,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_people_vaccinated_smoothed_per_hundred,people_fully_vaccinated,total_boosters,new_vaccinations
0,2020-02-24,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,Afghanistan,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# checking for nulls
selection.isnull().sum()

date                                               0
location                                           0
continent                                       9878
new_cases_smoothed                              4248
icu_patients                                  141710
icu_patients_per_million                      141710
new_deaths_smoothed                            20803
new_vaccinations_smoothed                      81539
people_fully_vaccinated_per_hundred           125166
total_boosters_per_hundred                    147909
new_people_vaccinated_smoothed_per_hundred     82784
people_fully_vaccinated                       125166
total_boosters                                147909
new_vaccinations                              128020
dtype: int64

In [6]:
# dropping nulls
clean_selection = selection.dropna()

In [7]:
# looking for duplicates
print(f'Duplicate entries: {clean_selection.duplicated().sum()}')

Duplicate entries: 0

In [8]:
# checking the dataframe as a whole
clean_selection.head()

,date,location,continent,new_cases_smoothed,icu_patients,icu_patients_per_million,new_deaths_smoothed,new_vaccinations_smoothed,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_people_vaccinated_smoothed_per_hundred,people_fully_vaccinated,total_boosters,new_vaccinations
6490,2021-11-15,Argentina,South America,1298.571,565.0,12.389,15.286,356203.0,60.26,1.96,0.187,27479827.0,892457.0,1297018.0
6495,2021-11-20,Argentina,South America,1364.429,572.0,12.542,20.857,440583.0,62.23,2.77,0.122,28379784.0,1263315.0,214081.0
6496,2021-11-21,Argentina,South America,1372.286,561.0,12.301,20.714,425164.0,62.36,2.84,0.103,28439413.0,1294189.0,114402.0
6497,2021-11-22,Argentina,South America,1261.429,566.0,12.411,18.857,258749.0,62.50,2.91,0.108,28505739.0,1327224.0,132111.0
6498,2021-11-23,Argentina,South America,1264.571,570.0,12.498,17.286,255271.0,62.81,3.11,0.110,28645100.0,1420213.0,300974.0

In [9]:
# checking info on rows and columns of new dataframe
clean_selection.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5539 entries, 6490 to 156684
Data columns (total 14 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        5539 non-null   object
 1   location                                    5539 non-null   object
 2   continent                                   5539 non-null   object
 3   new_cases_smoothed                          5539 non-null   float64
 4   icu_patients                                5539 non-null   float64
 5   icu_patients_per_million                    5539 non-null   float64
 6   new_deaths_smoothed                         5539 non-null   float64
 7   new_vaccinations_smoothed                   5539 non-null   float64
 8   people_fully_vaccinated_per_hundred         5539 non-null   float64
 9   total_boosters_per_hundred                  5539 non-null   float64
 10  new_people_vaccinated_smoothed_per_hundred  5539 non-null   float64
 11  people_fully_vaccinated                     5539 non-null   float64
 12  total_boosters                              5539 non-null   float64
 13  new_vaccinations                            5539 non-null   float64
dtypes: float64(11), object(3)
memory usage: 649.1+ KB

In [10]:
# saving the dataframe as a csv
output_file_path= "clean_selected_covid_data2.csv"
clean_selection.to_csv(output_file_path, index=False)