In [8]:
# Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [9]:
dfcovid=pd.read_csv("owid-covid-data.csv")
dfcovid.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [10]:
dfcovid.shape # high level understanding

(164945, 67)

In [11]:
dfcovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164945 entries, 0 to 164944
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    164945 non-null  object
 1   continent                                   155067 non-null  object
 2   location                                    164945 non-null  object
 3   date                                        164945 non-null  object
 4   total_cases                                 161922 non-null  float64
 5   new_cases                                   161848 non-null  float64
 6   new_cases_smoothed                          160697 non-null  float64
 7   total_deaths                                144139 non-null  float64
 8   new_deaths                                  144272 non-null  float64
 9   new_deaths_smoothed                         144142 non-null  float64
 10  total_cases_per_million                     161170 non-null  float64
 11  new_cases_per_million                       161096 non-null  float64
 12  new_cases_smoothed_per_million              159950 non-null  float64
 13  total_deaths_per_million                    143400 non-null  float64
 14  new_deaths_per_million                      143533 non-null  float64
 15  new_deaths_smoothed_per_million             143403 non-null  float64
 16  reproduction_rate                           124691 non-null  float64
 17  icu_patients                                23235 non-null   float64
 18  icu_patients_per_million                    23235 non-null   float64
 19  hosp_patients                               24384 non-null   float64
 20  hosp_patients_per_million                   24384 non-null   float64
 21  weekly_icu_admissions                       5322 non-null    float64
 22  weekly_icu_admissions_per_million           5322 non-null    float64
 23  weekly_hosp_admissions                      10762 non-null   float64
 24  weekly_hosp_admissions_per_million          10762 non-null   float64
 25  new_tests                                   66819 non-null   float64
 26  total_tests                                 68741 non-null   float64
 27  total_tests_per_thousand                    68741 non-null   float64
 28  new_tests_per_thousand                      66819 non-null   float64
 29  new_tests_smoothed                          83397 non-null   float64
 30  new_tests_smoothed_per_thousand             83397 non-null   float64
 31  positive_rate                               78320 non-null   float64
 32  tests_per_case                              77750 non-null   float64
 33  tests_units                                 85716 non-null   object
 34  total_vaccinations                          44586 non-null   float64
 35  people_vaccinated                           42431 non-null   float64
 36  people_fully_vaccinated                     39779 non-null   float64
 37  total_boosters                              17036 non-null   float64
 38  new_vaccinations                            36925 non-null   float64
 39  new_vaccinations_smoothed                   83406 non-null   float64
 40  total_vaccinations_per_hundred              44586 non-null   float64
 41  people_vaccinated_per_hundred               42431 non-null   float64
 42  people_fully_vaccinated_per_hundred         39779 non-null   float64
 43  total_boosters_per_hundred                  17036 non-null   float64
 44  new_vaccinations_smoothed_per_million       83406 non-null   float64
 45  new_people_vaccinated_smoothed              82161 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  82161 non-null   float64
 47  stringency_index                            129083 non-null  float64
 48  population                                  163876 non-null  float64
 49  population_density                          146701 non-null  float64
 50  median_age                                  136688 non-null  float64
 51  aged_65_older                               135206 non-null  float64
 52  aged_70_older                               135955 non-null  float64
 53  gdp_per_capita                              137355 non-null  float64
 54  extreme_poverty                             90462 non-null   float64
 55  cardiovasc_death_rate                       135641 non-null  float64
 56  diabetes_prevalence                         142752 non-null  float64
 57  female_smokers                              105171 non-null  float64
 58  male_smokers                                103728 non-null  float64
 59  handwashing_facilities                      67999 non-null   float64
 60  hospital_beds_per_thousand                  122641 non-null  float64
 61  life_expectancy                             153975 non-null  float64
 62  human_development_index                     135116 non-null  float64
 63  excess_mortality_cumulative_absolute        5662 non-null    float64
 64  excess_mortality_cumulative                 5662 non-null    float64
 65  excess_mortality                            5662 non-null    float64
 66  excess_mortality_cumulative_per_million     5662 non-null    float64
dtypes: float64(62), object(5)
memory usage: 84.3+ MB

In [22]:
dfcovid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.619220e+05,1.618480e+05,1.606970e+05,1.441390e+05,144272.000000,144142.000000,161170.000000,161096.000000,159950.000000,143400.000000,...,105171.000000,103728.000000,67999.000000,122641.000000,153975.000000,135116.000000,5.662000e+03,5662.000000,5662.000000,5662.000000
mean,2.487733e+06,1.139150e+04,1.135870e+04,5.714270e+04,171.186044,170.618137,28698.207523,162.828576,161.626886,503.763564,...,10.627671,32.777823,50.793052,3.028051,73.576874,0.725608,3.742413e+04,9.375304,15.970030,965.191533
std,1.508656e+07,8.356483e+04,8.160521e+04,2.994781e+05,834.095133,812.388294,50047.757854,674.637508,520.822576,777.837144,...,10.559099,13.522814,31.812509,2.450364,7.491930,0.149967,1.036478e+05,16.430009,30.143799,1410.959757
min,1.000000e+00,-7.434700e+04,-6.223000e+03,1.000000e+00,-3933.000000,-361.000000,0.001000,-13876.282000,-1936.106000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,1.956000e+03,1.000000e+00,6.714000e+00,7.800000e+01,0.000000,0.143000,612.919500,0.041000,1.593000,18.302000,...,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000,-7.575000e+01,-0.730000,-0.750000,-29.874241
50%,2.562950e+04,7.900000e+01,1.051430e+02,7.740000e+02,2.000000,2.429000,4645.866000,11.335000,18.430500,125.133000,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,3.400100e+03,6.035000,7.195000,469.752152
75%,2.928258e+05,1.054000e+03,1.127571e+03,7.227500e+03,20.000000,20.714000,36953.316000,100.247750,118.801250,700.224000,...,19.300000,41.300000,83.241000,4.000000,78.930000,0.845000,2.451072e+04,14.500000,22.882500,1650.520674
max,4.352417e+08,4.235024e+06,3.437210e+06,5.948652e+06,18057.000000,14705.714000,697959.350000,51427.491000,16052.608000,6311.202000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.080748e+06,111.010000,374.730000,8951.020458

In [ ]:
df_new = dfcovid